body.in {
  background: url(img/mount4.jpg) top right no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body.ab {
  background: url(img/mount4.jpg) top right no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#c1, #c2 {
  height: 520px; /* Your height here */
  overflow: hidden;
}

@media (max-width: 995px) {
  body.ab {
    background: url(img/mount4.jpg) top right no-repeat;
    background-size: 400%;
    background-attachment: fixed;
  }
  
  #c1, #c2 {
    height: 100%; /* Your height here */
    overflow: hidden;
  }
}

body.pr {
  background: url(img/mount4.jpg) top right no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body.co {
  background: url(img/mount4.jpg) top left no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: grey;
}

::selection {
  color: white;
  background: grey;
}

nav ul a{
  color: black;
}
ul > li + li {
margin-left: 5px;
padding-left: 5px;
border-left: 1px solid #bbb;
}

.fa {
  transform: translateY(20%);
}

.tabs .tab a {
  color: rgba(0, 0, 0, 0.7);
}

.tabs .tab a:hover {
  color:#fffc57;
}

.tabs .tab a:focus.active {
  background-color: rgba(151, 151, 151, 0.2);
}

.tabs .indicator {
  /* background-color:#000000; */
  width: 0;
}

.sidenav {
  background: url(img/mount4.jpg);
  font-size: larger;
  width: 20%;
}